/*Generics*/

//colours
$grey:#dddddd;
$light-purple:#ece3fb;
$purple:#5b4681;
$white:white;
//font sizes
$base-font-size:1.4rem;

//spacing
$space:1.4rem;
$input-spacing:1rem;
/* components */

//buttons
$button-bg:$purple;
$button-colour:$white;
$button-pill-colour:$purple;
$button-secondary-bg:#f9f9f9;
$button-secondary-border:$grey;
$button-secondary-color:#777777;


//form inputs
$input-border:$grey;

//lightbox view
$lightboxview-overlay-bg: $light-purple;
$lightboxview-bg: white;
